


body {
    box-sizing: border-box;
    background-color: #f6f6fa;
    font-family: "Montserrat", sans-serif;
    padding: 10px 10px;
    margin: 10px;
    
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;

}


.wrapper {
    display: flex;
    flex-direction: row-reverse;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    width: 1200px;
    margin: 0 auto;
}

.main-content {
    flex-grow: 1;
    padding: 80px 88px 80px 40px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

aside img {
    max-width: 92%;
    margin-bottom: 20px; 
    margin-left: 12px;
    margin-top: -8px;
    font-family: "Montserrat", sans-serif;
}


aside {
    width: 300px;
    padding: 20px;
    background-color: #f2f2f2;
    background: #e0ebfe;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 370px;
    box-sizing: border-box;

}

.sidebar-content {

    padding: 40px 15px 40px ;
    box-sizing: border-box;
}

/* contacts */
.contacts-title {

    color: #161D2A;
   
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
    

}

.type {

    color: #161D2A;
   
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-right: 5px;
line-height: 24px;
}

.link {

    color: #2979ff;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;

}


.item  {

    margin-top: 0px;
    margin-bottom: 4px ;
}

.container {

    margin-bottom: 40px ;
}
 /* skills container */


.skills-container {

    margin-bottom: 40px ;
}

.contacts-title {

    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
   margin-top: 0px;
   margin-bottom: 8px;
}

.skills-list {

    padding-left: 16px;


}

.skills-list-item {

    color: #161D2A;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}


/* main content */
.my-profession {

    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-top: 0;
    margin-bottom: 8px;

}

.my-name {

font-size: 45px;
font-weight: 700;
line-height: 55px;
color: #000;
margin-top: 0;
margin-bottom: 12px;

}

.my-info {
color: #595959;
font-size: 14px;
font-weight: 400;
line-height: 24px;
max-width: 602px;


}

.myinfo {

    margin-bottom: 40px;
}


/*my projects */

.my-projects-title {

    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
   margin-top: 0;
    margin-bottom: 8px;

}

.my-projects-list {

padding-left: 18px;
}

.my-projects-item {

color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.my-projects-link {

color: #005fff;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-decoration-line: underline;
}

.my-projects-item-tech {

    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    
      
}

.my-projects-container {
    margin-top: 40px;
}

/* work exp*/

.work-exp-title {

color: #000;
font-size: 22px;
font-weight: 700;
line-height: 27px;
margin-top: 0;
margin-bottom: 8px;

}

.work-exp-corp {
color: #000;
font-size: 16px;
font-weight: 700;
line-height: 20px;
margin-bottom: 12px;
margin-top: 0;
}

.Freelance {

    color: #6D9BF5;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
   margin-top: 0;
   margin-bottom: 12px;
}

.work-exp-time {

color: #a8a8a8;
font-size: 12px;
font-weight: 400;
line-height: 15px;
margin-bottom: 8px;
margin-top: 0;
}

.palka {

   color: #000000; 

}

.work-exp-list {

color: #595959;
font-size: 14px;
font-weight: 400;
line-height: 24px;
margin-bottom: 0px;
margin-top: 0;

}

.work-exp-item {

    padding-left: 16px;
margin-bottom: 12px;
}

.work-exp-container {
    max-width: 602px;
    margin-bottom: 12px;
}

/* education */

.education-margin {

    margin-top: 40px;
}

.edc-margin {

margin: 0 0 8px 0;
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
   
}

.edc-margin-title {

    margin: 0 0 8px 0;
    color: #000;
        font-size: 22px;
        font-weight: 700;
        line-height: 27px;
        
}

.Freelance-edc {

        color: #6D9BF5;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            margin: 0 0 8px 0;
        
       
}

.Bachelor {

color: #000;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        margin: 4px 0 8px 0;
       
}